{% extends "layouts/base-fullscreen.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
{% block title %} Login Page {% endblock %} 

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="row w-100 m-0">
      <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
        <div class="card col-lg-4 mx-auto">
          <div style=" margin: 0 auto ;align-items: center; align-content: center ; text-align: center;" class="card-body px-5 py-5">
            <img style="width: 150px; height: 150px; " src="{{ url_for('static', filename='assets/images/ai_alpha.jpg') }}" class="gradient-corona-img img-fluid" alt="logo">
          </div>
          <div>
            <h3 class="card-title text-left mb-3">Login</h3>
            <form method="post" action="{{ url_for('login') }}">
              <form method="post">
                <!-- Otros campos del formulario -->
                <div class="form-group">
                    <label>Username or email *</label>
                    <input type="text" class="form-control p_input" name="username">
                </div>
                <div class="form-group">
                    <label>Password *</label>
                    <input type="password" class="form-control p_input" name="password">
                </div>
                <!-- Otros campos del formulario -->
                <button type="submit" class="btn btn-primary btn-block enter-btn">Login</button>
            </form>
            
              <p class="sign-up" style="padding-bottom: 10px;">Don't have an Account?<a href="{{ url_for('signup') }}"> Sign Up</a></p>
            </form>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- row ends -->
  </div>

{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
