# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.py[co]

# Environment-specific files
__pycache__/config.cpython-311.pyc
.env
.env.*

# Logs
*.log
*.db

*account.json
*.db


# Temporary files
*.swp
*.swo
*.swn

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
.directory

# Database
db.sqlite

*.db

# Site packages (if using a virtual environment)
/lib/
/lib64/

# Compiled Python files
*.pyo
*.pyd

# Python package management
__pycache__/
*.pyc

# Virtual environment
venv/
ENV/

# IDE settings
.vscode/
.idea/


service-account.json
service-account-2.json

__pycache__/
*.pyc

# Environment-specific files
.env
.env.*

# Logs
*.log

# Temporary files
*.swp
*.swo
*.swn

# Site packages
/lib/
/lib64/

# Compiled Python files
*.pyo
*.pyd

# Python package management
__pycache__/
*.pyc

# Virtual environment
venv/
ENV/

# IDE settings
.vscode/
.idea/

# Google account
service_account.json


/myenv

routes/news_bot/userDataDir/