
Flask==2.3.3
SQLAlchemy==2.0.31
Flask-SocketIO==5.3.6
Flask-Cors==4.0.1
flasgger==0.9.7.1
pandas==2.2.2
numpy==2.0.0
plotly==5.22.0
openai==1.35.13
firebase-admin==6.5.0
google-cloud-firestore==2.16.1
google-cloud-storage==2.17.0
boto3==1.34.143
psycopg2-binary
APScheduler==3.10.4
beautifulsoup4==4.12.3
requests==2.32.3
python-dotenv==1.0.1
pydantic==2.8.2
pillow
tweepy
playwright
slack_sdk
slackeventsapi
apscheduler
redis
pyahocorasick
uuid
cachetools
alembic
flask-socketio
pytz
git+https://github.com/rongardF/tvdatafeed.git
marshmallow
gunicorn
