<!-- <!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <!-- Bokeh resources -->
    {{ resources|safe }}
    <!-- Bokeh script -->
    {{ script|safe }}
    <style>
        /* Remove margins and padding to make chart fill the entire space */
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        /* Style the chart container */
        #chart-container {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="chart-container">
        <!-- Bokeh div -->
        {{ div|safe }}
    </div>
</body>
</html> -->


